{% if taxdata_sets %}
    
    {% for dataset in taxdata_sets %}
        <h2>{{ dataset }}</h2>

        <ul>
            {% for year in dataset.tax_years.all %}
            <li> {{ year.year }} </li>
            {% endfor %}
        </ul>

        <p>
            Go to output
            <a href="{% url 'tax:output' dataset_pk=dataset.pk %}">here</a>
        </p>
    {% endfor %}


{% else %}
    <p>No sets are available. Create one <a href="{% url 'tax:start-dataset' %}">here</a></p>
{% endif %}

<p>Create a new calculation <a href="{% url 'tax:start-dataset' %}">here</a></p>
